.login-box {
    width: 400px;
    height: 550px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.form-control:hover {
border-color: #dc3545 !important;
box-shadow: 0 0 5px rgba(220, 53, 69, 0.5) !important;
}

.form-control:focus {
border-color: #dc3545 !important;
box-shadow: 0 0 5px rgba(220, 53, 69, 0.5) !important;
}