.box-content {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    width: 800px;
    height: 600px;
    border-radius: 10px;
}

.table-container {
    max-height: 400px;
    overflow-y: auto;
    border-radius: 8px;
    
}
th {
    position: sticky;
    top: 0;
    background-color: #dc3545;
    color: white;
    z-index: 2;
}
.action-icons i {
    cursor: pointer;
    margin: 0 5px;
    transition: 0.2s;
}
.action-icons i:hover {
    transform: scale(1.2);
}
.bi-eye { color: #0d6efd; }       /* blue */
.bi-pencil-square { color: #ffc107; } /* yellow */
.bi-trash { color: #dc3545; }     /* red */


